.about {
    font-family: 'Bree Serif', sans-serif;
    min-height: 50vh;
    background-image: linear-gradient($color-gray-light, $color-white);
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        margin-top: 4rem;
        padding: 5rem 8rem;
    }


    &__title {
        color: $color-green-gray-light;
        margin-bottom: 2rem;
        position: relative;

        &::after {
            content: "";
            display: inline-block;
            background-color: $color-green-gray-light;
            width: 85%;
            max-width: 800px;
            height: 3px;
            position: absolute;
            bottom: -50%;
            left: 50px;
        }
    }


    &__text {
        width: 100%;
        min-width: 400px;
        max-width: 800px;
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        text-align: left;
        margin-top: 3rem
    }


    &__license {
        min-width: 600px;
        max-width: 700px;
        max-height: 400px;
        background-color: $color-white;
        border: 1.8px solid black;
        border-radius: 1.5rem;
        -webkit-box-shadow: -5px 11px 36px -2px rgba(0, 0, 0, 0.31);
        box-shadow: -5px 11px 36px -2px rgba(0, 0, 0, 0.31);
        padding: 1.2rem 2rem;
        color: #0056b3;
        text-transform: uppercase;
        position: relative;
        transition: ease 500ms;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__license:hover {
        transform: translateY(-3px);
    }

    &__header {
        margin-left: 1rem;
        margin-right: auto;
    }


    &__header::before {
        content: "";
        width: 85%;
        height: 3px;
        background-color: #0056b3;
        position: absolute;
        top: 15%;
        left: 7.5%;
    }

    &__header::after {
        content: "Identification card";
        display: inline-block;
        position: absolute;
        top: 6%;
        left: 45%;
        font-size: 1.2rem;
        font-weight: 600;
        color: #2a9248;
    }

    &__main {
        display: flex;
        justify-content: flex-start;
        margin-top: 1rem;
        color: #e90001;
    }

    &__photo {
        width: 90%;
        flex-basis: 20%;
    }

    &__license-details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
        font-size: 1.5rem;
        font-weight: 700;
        flex-basis: 70%;
        text-align: left;
    }

    &__license-details>*::before {
        content: "";
        color: #0056b3;
        font-size: 0.8rem;
        font-weight: 1000;
        margin-right: 0.4rem;
    }

    &__address::before {
        margin: 0;
    }


    &__dl::before {
        content: "DL";
    }

    &__exp::before {
        content: "EXP";
    }

    &__last::before {
        content: "LN";
    }


    &__first::before {
        content: "FN";
    }

    &__dob::before {
        content: "DOB";
        margin-right: 0;
    }

    &__rest::before {
        content: "RSTR";
    }

    &__last,
    &__first,
    &__address,
    &__rest {
        color: #000;
    }

    &__address {
        font-size: 1.2rem;
        width: 50%;
        margin-top: .5rem;
        margin-left: 0;
    }

    &__rest {
        font-size: 1.2rem;
    }
}



//MEDIA QUERIES


@media only screen and (max-width: 575.98px) {

    .about {
        &__container {
            padding: 0;
        }

        &__title::after {
            width: 75%;
        }

        &__header {
            font-size: 1rem;
            margin-left: .5rem;

            &::before {
                width: 80%;
                left: 9%;
            }

            &::after {
                font-size: .8rem;
            }
        }

        &__main {
            gap: .75rem;
            padding-top: .4rem;
        }

        &__license {
            max-width: 330px;
            max-height: 260px;
            min-width: 250px;
            padding: 1rem 1.3rem;
        }


        &__photo {
            padding-top: .35rem;
            width: 90%;
            height: 90%;
        }

        &__license-details {
            font-size: .9rem;
            justify-content: flex-start;
        }

        &__address::before {
            margin: 0;
        }

        &__address {
            margin-top: .1rem;
            font-size: .8rem;
            width: 100%;
        }

        &__rest {
            font-size: .8rem;
        }


        &__text {
            padding: 0 1.5rem 0 2.5rem;
            font-size: 1rem;
        }

    }
}