.skills {
    &__title {
        text-align: center;
        margin-top: 4rem;
        color: $color-green-gray-light;
        position: relative;

        &::after {
            content: "";
            display: inline-block;
            background-color: $color-green-gray-light;
            width: 70%;
            max-width: 300px;
            height: 3px;
            position: absolute;
            bottom: -50%;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
        }
    }

    &__container {
        max-width: 900px;
        min-width: 150px;
        border: 1px solid $color-gray-light;
        margin: 3rem auto;
        padding: 2rem 0 3rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__svg {
        width: 2rem;
        height: 2rem;
        flex: 1 0 21%;
        margin: 2rem 1rem;
        position: relative;

    }


}