.skills {
    &__title {
        text-align: center;
        margin-top: 4rem;
        color: $color-green-gray-light;
        position: relative;

        &::after {
            content: "";
            display: inline-block;
            background-color: $color-green-gray-light;
            width: 70%;
            max-width: 300px;
            height: 3px;
            position: absolute;
            bottom: -50%;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
        }
    }

    &__container {
        max-width: 900px;
        min-width: 150px;
        border: 1px solid $color-gray-light;
        margin: 4rem auto;
        padding: 2rem 0 3rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        -webkit-box-shadow: -5px 11px 36px -2px rgba(0, 0, 0, 0.31);
        box-shadow: -5px 11px 36px -2px rgba(0, 0, 0, 0.31);
    }

    &__svg {
        width: 2rem;
        height: 2rem;
        flex: 1 0 21%;
        margin: 2.5rem 1rem;
        position: relative;

        &:hover>.skills__caption {
            display: block;
        }

    }

    &__caption {
        display: none;
        color: $color-green-gray-lighter;
        font-size: 1rem;
        font-weight: 600;
        margin-top: .3rem;
    }


}