@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Mono:wght@400;700&display=swap');

//Color variables
$color-blue-gray: #284b63;
$color-gray-light: #d9d9d9;
$color-white: #ffffff;
$color-green-gray: #3c6e71;
$color-green-gray-light: #519494;
$color-green-gray-lighter: #5fadad;
$color-dark-gray: #353535;